<h2><%= @user.name %> Thank you for shopping at WareHouse shop</h2>
<h3> We noticed you have cancelled your order with us</h3>

<h3>Please let us know if there was an issue or in case it is an error
	<br>
	You can view your previous orders here <a href="http://localhost:3000/shopping_orders">here.</a>
	<br>
	</h3>


<h4> We will try to keep our emails to a minimum but from time to time we may send you an information update regarding our stock</h4>