<h2><%= @user.name %> Thank you for shopping at WareHouse shop</h2>
<h3> We Have now delivered your order to : <%= @user.address %> </h3>

<h3>Please let us know if there was an issue or in case of not receiving the order please contact us.
	<br>
	You can view your previous orders here <a href="http://localhost:3000/shopping_orders">here.</a>
	<br>
	</h3>


<p> We will try to keep our emails to a minimum but from time to time we may send you an information update regarding our stock</p>