<h1>Searching path</h1>
<div class="text-center">
<table style="border:1px solid black;">
	<tr>
    <td class="0-1">&nbsp;&nbsp;</td>
    <td class="0-2">&nbsp;&nbsp;</td>
    <td class="0-3">&nbsp;&nbsp;</td>
    <td class="0-4">&nbsp;&nbsp;</td>
    <td class="0-5">&nbsp;&nbsp;</td>
    <td class="0-6">&nbsp;&nbsp;</td>
    <td class="0-7">&nbsp;&nbsp;</td>
    <td class="0-8">&nbsp;&nbsp;</td>
    <td class="0-9">&nbsp;&nbsp;</td>
    <td class="0-10">&nbsp;&nbsp;</td>
    <td class="0-11">&nbsp;&nbsp;</td>
    <td class="0-12">&nbsp;&nbsp;</td>
    <td class="0-13">&nbsp;&nbsp;</td>
    <td class="0-14">&nbsp;&nbsp;</td>
    <td class="0-15">&nbsp;&nbsp;</td>
    <td class="0-16">&nbsp;&nbsp;</td>
    <td class="0-17">&nbsp;&nbsp;</td>
    <td class="0-18">&nbsp;&nbsp;</td>
    <td class="0-19">&nbsp;&nbsp;</td>
    <td class="0-20">&nbsp;&nbsp;</td>
    <td class="0-21">&nbsp;&nbsp;</td>
    <td class="0-22">&nbsp;&nbsp;</td>
    <td class="0-23">&nbsp;&nbsp;</td>
    <td class="0-24">&nbsp;&nbsp;</td>
    <td class="0-25">&nbsp;&nbsp;</td>
    <td class="0-26">&nbsp;&nbsp;</td>
    <td class="0-27">&nbsp;&nbsp;</td>
    <td class="0-28">&nbsp;&nbsp;</td>
    <td class="0-29">&nbsp;&nbsp;</td>
    <td class="0-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="1-1">&nbsp;&nbsp;</td>
    <td class="1-2">&nbsp;&nbsp;</td>
    <td class="1-3">&nbsp;&nbsp;</td>
    <td class="1-4">&nbsp;&nbsp;</td>
    <td class="1-5">&nbsp;&nbsp;</td>
    <td class="1-6">&nbsp;&nbsp;</td>
    <td class="1-7">&nbsp;&nbsp;</td>
    <td class="1-8">&nbsp;&nbsp;</td>
    <td class="1-9">&nbsp;&nbsp;</td>
    <td class="1-10">&nbsp;&nbsp;</td>
    <td class="1-11">&nbsp;&nbsp;</td>
    <td class="1-12">&nbsp;&nbsp;</td>
    <td class="1-13">&nbsp;&nbsp;</td>
    <td class="1-14">&nbsp;&nbsp;</td>
    <td class="1-15">&nbsp;&nbsp;</td>
    <td class="1-16">&nbsp;&nbsp;</td>
    <td class="1-17">&nbsp;&nbsp;</td>
    <td class="1-18">&nbsp;&nbsp;</td>
    <td class="1-19">&nbsp;&nbsp;</td>
    <td class="1-20">&nbsp;&nbsp;</td>
    <td class="1-21">&nbsp;&nbsp;</td>
    <td class="1-22">&nbsp;&nbsp;</td>
    <td class="1-23">&nbsp;&nbsp;</td>
    <td class="1-24">&nbsp;&nbsp;</td>
    <td class="1-25">&nbsp;&nbsp;</td>
    <td class="1-26">&nbsp;&nbsp;</td>
    <td class="1-27">&nbsp;&nbsp;</td>
    <td class="1-28">&nbsp;&nbsp;</td>
    <td class="1-29">&nbsp;&nbsp;</td>
    <td class="1-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="2-1">&nbsp;&nbsp;</td>
    <td class="2-2">&nbsp;&nbsp;</td>
    <td class="2-3">&nbsp;&nbsp;</td>
    <td class="2-4">&nbsp;&nbsp;</td>
    <td class="2-5">&nbsp;&nbsp;</td>
    <td class="2-6">&nbsp;&nbsp;</td>
    <td class="2-7">&nbsp;&nbsp;</td>
    <td class="2-8">&nbsp;&nbsp;</td>
    <td class="2-9">&nbsp;&nbsp;</td>
    <td class="2-10">&nbsp;&nbsp;</td>
    <td class="2-11">&nbsp;&nbsp;</td>
    <td class="2-12">&nbsp;&nbsp;</td>
    <td class="2-13">&nbsp;&nbsp;</td>
    <td class="2-14">&nbsp;&nbsp;</td>
    <td class="2-15">&nbsp;&nbsp;</td>
    <td class="2-16">&nbsp;&nbsp;</td>
    <td class="2-17">&nbsp;&nbsp;</td>
    <td class="2-18">&nbsp;&nbsp;</td>
    <td class="2-19">&nbsp;&nbsp;</td>
    <td class="2-20">&nbsp;&nbsp;</td>
    <td class="2-21">&nbsp;&nbsp;</td>
    <td class="2-22">&nbsp;&nbsp;</td>
    <td class="2-23">&nbsp;&nbsp;</td>
    <td class="2-24">&nbsp;&nbsp;</td>
    <td class="2-25">&nbsp;&nbsp;</td>
    <td class="2-26">&nbsp;&nbsp;</td>
    <td class="2-27">&nbsp;&nbsp;</td>
    <td class="2-28">&nbsp;&nbsp;</td>
    <td class="2-29">&nbsp;&nbsp;</td>
    <td class="2-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="3-1">&nbsp;&nbsp;</td>
    <td class="3-2">&nbsp;&nbsp;</td>
    <td class="3-3">&nbsp;&nbsp;</td>
    <td class="3-4">&nbsp;&nbsp;</td>
    <td class="3-5">&nbsp;&nbsp;</td>
    <td class="3-6">&nbsp;&nbsp;</td>
    <td class="3-7">&nbsp;&nbsp;</td>
    <td class="3-8">&nbsp;&nbsp;</td>
    <td class="3-9">&nbsp;&nbsp;</td>
    <td class="3-10">&nbsp;&nbsp;</td>
    <td class="3-11">&nbsp;&nbsp;</td>
    <td class="3-12">&nbsp;&nbsp;</td>
    <td class="3-13">&nbsp;&nbsp;</td>
    <td class="3-14">&nbsp;&nbsp;</td>
    <td class="3-15">&nbsp;&nbsp;</td>
    <td class="3-16">&nbsp;&nbsp;</td>
    <td class="3-17">&nbsp;&nbsp;</td>
    <td class="3-18">&nbsp;&nbsp;</td>
    <td class="3-19">&nbsp;&nbsp;</td>
    <td class="3-20">&nbsp;&nbsp;</td>
    <td class="3-21">&nbsp;&nbsp;</td>
    <td class="3-22">&nbsp;&nbsp;</td>
    <td class="3-23">&nbsp;&nbsp;</td>
    <td class="3-24">&nbsp;&nbsp;</td>
    <td class="3-25">&nbsp;&nbsp;</td>
    <td class="3-26">&nbsp;&nbsp;</td>
    <td class="3-27">&nbsp;&nbsp;</td>
    <td class="3-28">&nbsp;&nbsp;</td>
    <td class="3-29">&nbsp;&nbsp;</td>
    <td class="3-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="4-1">&nbsp;&nbsp;</td>
    <td class="4-2">&nbsp;&nbsp;</td>
    <td class="4-3">&nbsp;&nbsp;</td>
    <td class="4-4">&nbsp;&nbsp;</td>
    <td class="4-5">&nbsp;&nbsp;</td>
    <td class="4-6">&nbsp;&nbsp;</td>
    <td class="4-7">&nbsp;&nbsp;</td>
    <td class="4-8">&nbsp;&nbsp;</td>
    <td class="4-9">&nbsp;&nbsp;</td>
    <td class="4-10">&nbsp;&nbsp;</td>
    <td class="4-11">&nbsp;&nbsp;</td>
    <td class="4-12">&nbsp;&nbsp;</td>
    <td class="4-13">&nbsp;&nbsp;</td>
    <td class="4-14">&nbsp;&nbsp;</td>
    <td class="4-15">&nbsp;&nbsp;</td>
    <td class="4-16">&nbsp;&nbsp;</td>
    <td class="4-17">&nbsp;&nbsp;</td>
    <td class="4-18">&nbsp;&nbsp;</td>
    <td class="4-19">&nbsp;&nbsp;</td>
    <td class="4-20">&nbsp;&nbsp;</td>
    <td class="4-21">&nbsp;&nbsp;</td>
    <td class="4-22">&nbsp;&nbsp;</td>
    <td class="4-23">&nbsp;&nbsp;</td>
    <td class="4-24">&nbsp;&nbsp;</td>
    <td class="4-25">&nbsp;&nbsp;</td>
    <td class="4-26">&nbsp;&nbsp;</td>
    <td class="4-27">&nbsp;&nbsp;</td>
    <td class="4-28">&nbsp;&nbsp;</td>
    <td class="4-29">&nbsp;&nbsp;</td>
    <td class="4-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="5-1">&nbsp;&nbsp;</td>
    <td class="5-2">&nbsp;&nbsp;</td>
    <td class="5-3">&nbsp;&nbsp;</td>
    <td class="5-4">&nbsp;&nbsp;</td>
    <td class="5-5">&nbsp;&nbsp;</td>
    <td class="5-6">&nbsp;&nbsp;</td>
    <td class="5-7">&nbsp;&nbsp;</td>
    <td class="5-8">&nbsp;&nbsp;</td>
    <td class="5-9">&nbsp;&nbsp;</td>
    <td class="5-10">&nbsp;&nbsp;</td>
    <td class="5-11">&nbsp;&nbsp;</td>
    <td class="5-12">&nbsp;&nbsp;</td>
    <td class="5-13">&nbsp;&nbsp;</td>
    <td class="5-14">&nbsp;&nbsp;</td>
    <td class="5-15">&nbsp;&nbsp;</td>
    <td class="5-16">&nbsp;&nbsp;</td>
    <td class="5-17">&nbsp;&nbsp;</td>
    <td class="5-18">&nbsp;&nbsp;</td>
    <td class="5-19">&nbsp;&nbsp;</td>
    <td class="5-20">&nbsp;&nbsp;</td>
    <td class="5-21">&nbsp;&nbsp;</td>
    <td class="5-22">&nbsp;&nbsp;</td>
    <td class="5-23">&nbsp;&nbsp;</td>
    <td class="5-24">&nbsp;&nbsp;</td>
    <td class="5-25">&nbsp;&nbsp;</td>
    <td class="5-26">&nbsp;&nbsp;</td>
    <td class="5-27">&nbsp;&nbsp;</td>
    <td class="5-28">&nbsp;&nbsp;</td>
    <td class="5-29">&nbsp;&nbsp;</td>
    <td class="5-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="6-1">&nbsp;&nbsp;</td>
    <td class="6-2">&nbsp;&nbsp;</td>
    <td class="6-3">&nbsp;&nbsp;</td>
    <td class="6-4">&nbsp;&nbsp;</td>
    <td class="6-5">&nbsp;&nbsp;</td>
    <td class="6-6">&nbsp;&nbsp;</td>
    <td class="6-7">&nbsp;&nbsp;</td>
    <td class="6-8">&nbsp;&nbsp;</td>
    <td class="6-9">&nbsp;&nbsp;</td>
    <td class="6-10">&nbsp;&nbsp;</td>
    <td class="6-11">&nbsp;&nbsp;</td>
    <td class="6-12">&nbsp;&nbsp;</td>
    <td class="6-13">&nbsp;&nbsp;</td>
    <td class="6-14">&nbsp;&nbsp;</td>
    <td class="6-15">&nbsp;&nbsp;</td>
    <td class="6-16">&nbsp;&nbsp;</td>
    <td class="6-17">&nbsp;&nbsp;</td>
    <td class="6-18">&nbsp;&nbsp;</td>
    <td class="6-19">&nbsp;&nbsp;</td>
    <td class="6-20">&nbsp;&nbsp;</td>
    <td class="6-21">&nbsp;&nbsp;</td>
    <td class="6-22">&nbsp;&nbsp;</td>
    <td class="6-23">&nbsp;&nbsp;</td>
    <td class="6-24">&nbsp;&nbsp;</td>
    <td class="6-25">&nbsp;&nbsp;</td>
    <td class="6-26">&nbsp;&nbsp;</td>
    <td class="6-27">&nbsp;&nbsp;</td>
    <td class="6-28">&nbsp;&nbsp;</td>
    <td class="6-29">&nbsp;&nbsp;</td>
    <td class="6-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="7-1">&nbsp;&nbsp;</td>
    <td class="7-2">&nbsp;&nbsp;</td>
    <td class="7-3">&nbsp;&nbsp;</td>
    <td class="7-4">&nbsp;&nbsp;</td>
    <td class="7-5">&nbsp;&nbsp;</td>
    <td class="7-6">&nbsp;&nbsp;</td>
    <td class="7-7">&nbsp;&nbsp;</td>
    <td class="7-8">&nbsp;&nbsp;</td>
    <td class="7-9">&nbsp;&nbsp;</td>
    <td class="7-10">&nbsp;&nbsp;</td>
    <td class="7-11">&nbsp;&nbsp;</td>
    <td class="7-12">&nbsp;&nbsp;</td>
    <td class="7-13">&nbsp;&nbsp;</td>
    <td class="7-14">&nbsp;&nbsp;</td>
    <td class="7-15">&nbsp;&nbsp;</td>
    <td class="7-16">&nbsp;&nbsp;</td>
    <td class="7-17">&nbsp;&nbsp;</td>
    <td class="7-18">&nbsp;&nbsp;</td>
    <td class="7-19">&nbsp;&nbsp;</td>
    <td class="7-20">&nbsp;&nbsp;</td>
    <td class="7-21">&nbsp;&nbsp;</td>
    <td class="7-22">&nbsp;&nbsp;</td>
    <td class="7-23">&nbsp;&nbsp;</td>
    <td class="7-24">&nbsp;&nbsp;</td>
    <td class="7-25">&nbsp;&nbsp;</td>
    <td class="7-26">&nbsp;&nbsp;</td>
    <td class="7-27">&nbsp;&nbsp;</td>
    <td class="7-28">&nbsp;&nbsp;</td>
    <td class="7-29">&nbsp;&nbsp;</td>
    <td class="7-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="8-1">&nbsp;&nbsp;</td>
    <td class="8-2">&nbsp;&nbsp;</td>
    <td class="8-3">&nbsp;&nbsp;</td>
    <td class="8-4">&nbsp;&nbsp;</td>
    <td class="8-5">&nbsp;&nbsp;</td>
    <td class="8-6">&nbsp;&nbsp;</td>
    <td class="8-7">&nbsp;&nbsp;</td>
    <td class="8-8">&nbsp;&nbsp;</td>
    <td class="8-9">&nbsp;&nbsp;</td>
    <td class="8-10">&nbsp;&nbsp;</td>
    <td class="8-11">&nbsp;&nbsp;</td>
    <td class="8-12">&nbsp;&nbsp;</td>
    <td class="8-13">&nbsp;&nbsp;</td>
    <td class="8-14">&nbsp;&nbsp;</td>
    <td class="8-15">&nbsp;&nbsp;</td>
    <td class="8-16">&nbsp;&nbsp;</td>
    <td class="8-17">&nbsp;&nbsp;</td>
    <td class="8-18">&nbsp;&nbsp;</td>
    <td class="8-19">&nbsp;&nbsp;</td>
    <td class="8-20">&nbsp;&nbsp;</td>
    <td class="8-21">&nbsp;&nbsp;</td>
    <td class="8-22">&nbsp;&nbsp;</td>
    <td class="8-23">&nbsp;&nbsp;</td>
    <td class="8-24">&nbsp;&nbsp;</td>
    <td class="8-25">&nbsp;&nbsp;</td>
    <td class="8-26">&nbsp;&nbsp;</td>
    <td class="8-27">&nbsp;&nbsp;</td>
    <td class="8-28">&nbsp;&nbsp;</td>
    <td class="8-29">&nbsp;&nbsp;</td>
    <td class="8-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="9-1">&nbsp;&nbsp;</td>
    <td class="9-2">&nbsp;&nbsp;</td>
    <td class="9-3">&nbsp;&nbsp;</td>
    <td class="9-4">&nbsp;&nbsp;</td>
    <td class="9-5">&nbsp;&nbsp;</td>
    <td class="9-6">&nbsp;&nbsp;</td>
    <td class="9-7">&nbsp;&nbsp;</td>
    <td class="9-8">&nbsp;&nbsp;</td>
    <td class="9-9">&nbsp;&nbsp;</td>
    <td class="9-10">&nbsp;&nbsp;</td>
    <td class="9-11">&nbsp;&nbsp;</td>
    <td class="9-12">&nbsp;&nbsp;</td>
    <td class="9-13">&nbsp;&nbsp;</td>
    <td class="9-14">&nbsp;&nbsp;</td>
    <td class="9-15">&nbsp;&nbsp;</td>
    <td class="9-16">&nbsp;&nbsp;</td>
    <td class="9-17">&nbsp;&nbsp;</td>
    <td class="9-18">&nbsp;&nbsp;</td>
    <td class="9-19">&nbsp;&nbsp;</td>
    <td class="9-20">&nbsp;&nbsp;</td>
    <td class="9-21">&nbsp;&nbsp;</td>
    <td class="9-22">&nbsp;&nbsp;</td>
    <td class="9-23">&nbsp;&nbsp;</td>
    <td class="9-24">&nbsp;&nbsp;</td>
    <td class="9-25">&nbsp;&nbsp;</td>
    <td class="9-26">&nbsp;&nbsp;</td>
    <td class="9-27">&nbsp;&nbsp;</td>
    <td class="9-28">&nbsp;&nbsp;</td>
    <td class="9-29">&nbsp;&nbsp;</td>
    <td class="9-30">&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="10-1">&nbsp;&nbsp;</td>
    <td class="10-2">&nbsp;&nbsp;</td>
    <td class="10-3">&nbsp;&nbsp;</td>
    <td class="10-4">&nbsp;&nbsp;</td>
    <td class="10-5">&nbsp;&nbsp;</td>
    <td class="10-6">&nbsp;&nbsp;</td>
    <td class="10-7">&nbsp;&nbsp;</td>
    <td class="10-8">&nbsp;&nbsp;</td>
    <td class="10-9">&nbsp;&nbsp;</td>
    <td class="10-10">&nbsp;&nbsp;</td>
    <td class="10-11">&nbsp;&nbsp;</td>
    <td class="10-12">&nbsp;&nbsp;</td>
    <td class="10-13">&nbsp;&nbsp;</td>
    <td class="10-14">&nbsp;&nbsp;</td>
    <td class="10-15">&nbsp;&nbsp;</td>
    <td class="10-16">&nbsp;&nbsp;</td>
    <td class="10-17">&nbsp;&nbsp;</td>
    <td class="10-18">&nbsp;&nbsp;</td>
    <td class="10-19">&nbsp;&nbsp;</td>
    <td class="10-20">&nbsp;&nbsp;</td>
    <td class="10-21">&nbsp;&nbsp;</td>
    <td class="10-22">&nbsp;&nbsp;</td>
    <td class="10-23">&nbsp;&nbsp;</td>
    <td class="10-24">&nbsp;&nbsp;</td>
    <td class="10-25">&nbsp;&nbsp;</td>
    <td class="10-26">&nbsp;&nbsp;</td>
    <td class="10-27">&nbsp;&nbsp;</td>
    <td class="10-28">&nbsp;&nbsp;</td>
    <td class="10-29">&nbsp;&nbsp;</td>
    <td class="10-30">&nbsp;&nbsp;</td>
  </tr>
</table>
</div>

<h1><span style="background-color: gray">&nbsp;&nbsp;</span> Availible shelf space</h1>
<h1><span style="background-color: red">&nbsp;&nbsp;</span> Shelf space already used</h1>
<h1><span style="background-color: green">&nbsp;&nbsp;</span> Checkout counter/Doors</h1>
<%if !@locations.empty?%>
	<% @locations.each do |location| %>

	<script  type="text/javascript">
	jQuery(document).ready(function($) {
      var str ='.'+ <%= location.lat %> + '-' + <%= location.lon %>;
      $(str).css({"background-color": "gray"}).html("X");
  
      });

	</script>
	<%end%>
	<% else %>
	<h2>No locations filled yet</h2>
	<% end %>

<%if !@items.empty?%>
	<% @items.each do |item| %>

	<% location = Location.find(item.locationId) %>

	
	<script  type="text/javascript">
	jQuery(document).ready(function($) {
      var str ='.'+ <%= location.lat %> + '-' + <%= location.lon %>;
      $(str).css({"background-color": "red"});
  
      });

	</script>
	<%end%>
	<% else %>
	<h2>No items assigned to places</h2>
	<% end %>

<script  type="text/javascript">
	jQuery(document).ready(function($) {
      
      $('.5-27').css({"background-color": "green"}).html("O");
      $('.0-3').css({"background-color": "green"});
  });
    
      function searchSurounding(i, g){
        
        //North
        jQuery(document).ready(function($) {
        
        nI=i;
        
            nI=nI-1;
            if ($('.'+nI+'-'+g).text() == 'X'){
           // alert("if we got an x north");
           
            }
            else{
                
                $('.'+nI+'-'+g+'').css({"background-color": "yellow"}).html("O");
                 //searchSurounding(nI,g);
                
            }
        });

        //North East
        jQuery(document).ready(function($) {
        neI=i;
        neG=g;
        neI=neI-1;
        neG=neG+1;

        if ($('.'+neI+'-'+neG).text() == 'X'){
        //alert("if we got an x north east");
        
        }
        else{
            
            $('.'+neI+'-'+neG+'').css({"background-color": "yellow"}).html("O");
            //searchSurounding(neI,neG);
            
        }
        });

        //East
        jQuery(document).ready(function($) {
        eG=g;
        eG=eG+1;

        if ($('.'+i+'-'+eG).text() == 'X'){
        //alert("if we got an x north east");
        
        }
        else{
            
            $('.'+i+'-'+eG+'').css({"background-color": "yellow"}).html("O");
            
           
            //searchSurounding(i,eG);
            
        }
        });
        //South East
        jQuery(document).ready(function($) {
        seG=g;
        seI=i;
        seG=seG+1;
        seI=seI+1;

        if ($('.'+seI+'-'+seG).text() == 'X'){
        //alert("if we got an x north east");
        
        }
        else{
            
            $('.'+seI+'-'+seG).css({"background-color": "yellow"}).html("O");
            
            
           //searchSurounding(seI,seG);

            
        }
        });
        
        //South
        jQuery(document).ready(function($) {
        sI=i;
        sI=sI+1;
        if ($('.'+sI+'-'+g).text() == 'X'){
       // alert("if we got an x north");
       
        }
        else{
            
            $('.'+sI+'-'+g+'').css({"background-color": "yellow"}).html("O");
           // searchSurounding(sI,g);
            // checkSouth(sI,g);
         }
        });

        //South West
        jQuery(document).ready(function($) {
        swI=i;
        swG=g;
        swI=swI+1;
        swG=swG-1;
        if ($('.'+swI+'-'+swG).text() == 'X'){
       // alert("if we got an x north");
       
        }
        else{
            
            $('.'+swI+'-'+swG+'').css({"background-color": "yellow"}).html("O");
           // searchSurounding(swI,swG);
           // checkSouth(swI,swG);
            
         }
        });

        //West
        jQuery(document).ready(function($) {
        wG=g;
        wG=wG-1;

        if ($('.'+i+'-'+wG).text() == 'X'){
        //alert("if we got an x north east");
        
        }
        else {
            
            $('.'+i+'-'+wG+'').css({"background-color": "yellow"}).html("O");
            
           
           // searchSurounding(i,wG);

            
        }
        });

        //North West
        jQuery(document).ready(function($) {
        nwI=i;
        nwG=g;
        nwI=nwI-1;
        nwG=nwG-1;

        if ($('.'+nwI+'-'+nwG).text() == 'X'){
        //alert("if we got an x north east");
        
        }
        
            else{
                
                $('.'+nwI+'-'+nwG+'').css({"background-color": "yellow"}).html("O");
                //searchSurounding(nwI,nwG);

                
            }
        
        });

      }

      searchSurounding(5,27);

	</script>
