
<h1>Shelves locations</h1>
<div class="alert alert-warning">
      <p>Please select shelf to edit it (click on any X) </p>
      
    </div>
<%= render 'layouts/shopGrid' %>



<%= link_to 'New Location', new_location_path, :class=>"btn btn-success" %>
