<img src="http://res.cloudinary.com/dp20nga5l/image/upload/v1461796064/Drawing_trm660.png">
<p>Hello <%= @resource.name %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
